.table-outer-div{
    position: relative;
    top: 100px;
    left: 20px;
}

.table{
    position: absolute;
    display: flex;
    background-color: var(--white);
    justify-content: space-evenly;
}

.table-header-row{
    position: absolute;
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
    color: var(--dark-grey)
}

.table-body{
    position: absolute;
    display: flex;
    /* height: 75vh; */
    flex-direction: column;
    justify-content: flex-start;
    top: 32px;
    left: 80px;
    border: 3px outset var(--light-grey);
    padding-left: 2px;
}

.entry-row{
    border: 1px inset var(--dark-grey);
    padding-bottom: 10px;
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
}

