.timesheet-table-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80vw;
}

.date-input-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 10px;
}

.bottom-btn {
  width: 100%;
}

.add-timesheet-btn-container {
  width: 20%;
}

.submit-btn-container {
  width: 10%;
}

.bottom-buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.total-container-row {
  display: flex;
  justify-content: end;
  width: 100%;
}

.total-container {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
