.button-outer-div {
    position: relative;
    /* top: 288px; */
    left: 868px;
    
}

.submit-button {
  background-color: var(--red);
  border-radius: 3px;
  color: var(--white);
  border: none;
  cursor: pointer;
  position: relative;
  width: 138px;
  height: 31px;
  top: 0px;
  /* left: 40px; */
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
  text-align: center;
}
