.timesheet-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.notes-input-item {
  width: 45%;
}

.dropdown-input-item {
  width: 15%;
}

.minutes-input-item {
  width: 10%;
}
