.navbar-outer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 39px;
    position: fixed;
    padding: 0.5rem 15px 0.5rem 15px;
    background-color: var(--light-grey)
  }
  /* .logo-div{
  
  } */
  .time-integral-ed-logo {
    background-color: inherit;
  }
  .timeLogo {
    width: 12rem;
  }
  .button-div {
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    padding-right: 15px;
    margin-right: 15px;
  }
  .my-time-entries-btn {
    background-color: inherit;
    color: var(--dark-grey);
    margin-right: 20px;
  }
  
  .clock-in-btn {
    background-color: var(--green);
    height: 32px;
    line-height: 2px;
    margin-right: 25px;
  }
  
  .profile-photo {
    display: grid;
    place-items: center;
    height: 32px;
    width: 32px;
  }
  .profile-photo-img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
  